version: '3.6'
services:
  app:
    image: flaskbp_app:latest
    hostname: app
    build:
      context: .
      dockerfile: ./containers/app/Dockerfile
    command: python3 /opt/app/run_app.py
    networks:
      - frontend
      - backend
    volumes:
      - ./flaskbp:/opt/app/flaskbp
      - ./logs:/opt/app/logs
    ports:
      - 5000:5000
    depends_on:
      - db
    healthcheck:
      test: ['CMD', 'python3', '/opt/app/healthcheck.py']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
  db:
    image: flaskbp_db:latest
    hostname: db
    build:
      context: .
      dockerfile: ./containers/db/Dockerfile
    ports:
      - 3306
    environment:
      - MYSQL_ROOT_PASSWORD=M4K317C0MPL3X
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
      - MYSQL_DATABASE=test
    networks:
      - backend
    volumes:
      - ./data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'nc', '-vz', 'localhost', '3306']
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s

networks:
  frontend:
  backend:
